<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>573116677071-m7oelv6dj63ovkoai8dauq12v2gq2h1f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.573116677071-m7oelv6dj63ovkoai8dauq12v2gq2h1f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>573116677071-ah81anqv2vo2ne0051ct9sc4sjcbbqdb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD27oRW5Wb-ycgLztU1HGINx0118QfKsnQ</string>
	<key>GCM_SENDER_ID</key>
	<string>573116677071</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.apps.PinkyPromise</string>
	<key>PROJECT_ID</key>
	<string>pinky-promise-316c0</string>
	<key>STORAGE_BUCKET</key>
	<string>pinky-promise-316c0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:573116677071:ios:babd5185b24abdcb0670ba</string>
	<key>DATABASE_URL</key>
	<string>https://pinky-promise-316c0.firebaseio.com</string>
</dict>
</plist>